<div class="header">
  <div class="logo"></div>
  <div class="navigation">
    <div *ngFor="let link of links" class="navigation-item">
      <a
        href="{{link.href}}"
        class="nav-link"
        [routerLink]="link.href"
        class="navigation-item__link"
        [routerLinkActive]="link.href ? 'active' : ''"
      >{{link.name}}</a>
    </div>
  </div>
  <div class="right">
    <button class="right__item"><img src="/../../assets/icons/search.svg" alt=""></button>
    <button class="right__item"><img src="/../../assets/icons/person.svg" alt=""></button>
  </div>
</div>
