@import '../../../../assets/styles/common/colors';

.header {
  background-color: $color-woodsmoke;
  display: flex;
  justify-content: space-between;
  padding: 20px 90px 26px;

  .logo {
    width: 118px;
    height: 19px;
    background-image: url("../../../../assets/images/kinostorm.svg");
    background-size: cover;
  }

  .navigation {
    display: flex;
    align-items: center;

    &-item {
      font-family: 'Arimo';
      font-style: normal;
      font-weight: 700;
      font-size: 13px;
      line-height: 30px;
      cursor: pointer;
      letter-spacing: 0.02em;
      margin: 0 31px;

      &__link {
        color: $color-timberwolf;
        text-decoration: none;
      }
    }
  }

  .right {
    display: flex;
    justify-content: space-between;
    min-width: 77px;
    align-items: center;

    &__item {
      width: 20px;
      vertical-align: middle;
      background: none;
      border: none;
      height: 21px;
    }
  }

  .active {
    color: $color-jungle-green;
    border-bottom: 2px solid $color-jungle-green;
  }
}
