@import '../../../assets/styles/common/colors';

.film {
  &-banner {
    width: 100%;
    height: 440px;
    background-size: cover;
    position: relative;

    &__block {
      padding: 150px 91px 0 91px;
      height: 290px;
      background: linear-gradient(180deg, rgba(25, 30, 35, 0) 0%, $color-shark 88.31%);
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      &-left {
        display: flex;
        flex-direction: column;

        .name {
          font-weight: 700;
          font-size: 38px;
          line-height: 48px;
          display: flex;
          align-items: flex-end;
          letter-spacing: 0.02em;
          color: $color-white;
          max-width: 520px;
          margin-block-start: 0;
          margin-block-end: 0;
        }

        .button {
          text-align: center;
          max-width: 340px;
          font-style: normal;
          font-weight: 700;
          font-size: 16px;
          line-height: 25px;
          display: block;
          align-items: center;
          letter-spacing: 0.05em;
          text-transform: uppercase;
          color: $color-white;
          background: $color-jungle-green;
          border-radius: 3px;
          border: none;
          padding: 9px 20px;
          margin: 11px 0;
        }

        .info {
          font-style: normal;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          display: flex;
          align-items: center;
          letter-spacing: 0.02em;
          color: $color-cloud;
          margin-block-start: 0;
          margin-block-end: 0;
        }

        .genres {
          display: flex;
          justify-content: space-between;
          margin: 15px 0 0 0;
          max-width: 60%;
          &-item {
            background: rgba(255, 255, 255, 0.08);
            background-blend-mode: lighten;
            border-radius: 3px;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            display: flex;
            align-items: flex-end;
            text-align: center;
            color: $color-cloud;
            margin: 0 10px 0 0;
            padding: 0 10px 0 9px;
          }
        }
      }

      &-right {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .rating {
          margin: 0 0 26px;
          text-align: end;
          &__big {
            font-family: 'Ubuntu', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 34px;
            line-height: 26px;
            display: flex;
            align-items: center;
            letter-spacing: -0.02em;
            color: $color-white;
          }

          &__small {
            font-family: 'Ubuntu';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 30px;
            color: $color-timberwolf;
          }
        }

        .icons {
          display: flex;
          &__add {
            width: 36px;
            height: 36px;
            background-color: $color-jungle-green;
            border-radius: 5px;
            background-image: url("../../../assets/icons/add.svg");
            border: none;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            margin: 0 7px;
          }

          &__watched {
            width: 36px;
            height: 36px;
            background-color: $color-jungle-green;
            border-radius: 5px;
            background-image: url("../../../assets/icons/watched.svg");
            border: none;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            margin: 0 7px;
          }

          &__unwatched {
            width: 36px;
            height: 36px;
            border-radius: 5px;
            background-image: url("../../../assets/icons/watched.svg");
            border: none;
            background-position: center;
            background-repeat: no-repeat;
            cursor: pointer;
            background-color: $color-light-shark;
            margin: 0 7px;
          }

          &__rating {
            padding: 8px 11px 8px 33px;
            background-color: $color-light-shark;
            border-radius: 5px;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 16px;
            display: flex;
            align-items: center;
            text-align: center;
            color: $color-white;
            border: none;
            background-image: url("../../../assets/icons/rating.svg");
            background-repeat: no-repeat;
            background-position: bottom 14px left 8px;
            margin: 0 0 0 7px;
          }
        }

        .stars {
          display: flex;
          flex-direction: column;

          svg{
            fill: $color-oslo-gray;
            width: 11px;
            height: 10px;
          }

          &__block {
            display: flex;
            justify-content: space-between;
            margin: 20px 0 0 0;
            .positive {
              svg{
                fill: $color-cream-can;
              }
            }
          }

          &__text {
            display: flex;
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 30px;
            justify-content: space-between;
            align-items: flex-end;
            color: $color-cloud;
          }
        }
      }
    }
  }

  .title {
    margin-block-start: 0;
    margin-block-end: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: $color-vista-blue;
    margin: 0 0 18px;
  }

  &-content {
    background-color: $color-shark;
    display: flex;
    padding: 25px 91px;

    &__left {
      display: flex;
      flex-direction: column;
      padding: 0 25px 0 0;
      &-about {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $color-timberwolf;
      }
    }

    &__right {
      display: flex;
      flex-direction: column;

      &-video {
        width: 340px;
        height: 189px;
        background-image: url("../../../assets/images/video.jpg");
        background-size: contain;
        position: relative;
        justify-content: center;
        display: flex;
        align-items: center;

        ::after {
          content: '';
          position: absolute;
          background-image: url("../../../assets/icons/play.svg");
          display: block;
        }
      }
    }
  }

  &-characters {
    background-color: $color-light-shark;
    padding: 30px 91px;

    .content {
      margin: 18px 0 0 0;
      display: flex;
      align-items: flex-start;
      &__persons {
        display: flex;
        flex-wrap: wrap;

        &-card {
          margin: 15px 0;
          display: flex;
          flex: 0 0 33.333333%;

          .item {
            align-items: center;
            display: flex;
            .photo {
              width: 70px;
              height: 69px;
              overflow: hidden;
              img {
                width: 70px;
                height: 69px;
                border-radius: 3px;
              }
            }
            .name {
              margin: 0 0 0 19px;
              font-style: normal;
              font-weight: 400;
              font-size: 14px;
              line-height: 20px;
              display: flex;
              align-items: flex-end;
              color: $color-timberwolf;
            }
          }
        }
      }

      &__more {
        height: 24px;
        background: $color-outer-space;
        border-radius: 3px;
        font-family: 'Ubuntu';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 30px;
        display: flex;
        align-items: flex-end;
        text-align: center;
        color: $color-cloud;
        padding: 20px 16px;
        margin: 15px 0 0 0;
        cursor: pointer;
      }
    }
  }
}
