$color-white: #ffffff;
$color-black: #000000;
$color-woodsmoke: #161617;
$color-timberwolf: #D6D2CF;
$color-jungle-green: #28A396;
$color-shark: #191E23;
$color-light-shark: #23292E;
$color-cloud: #CFCAC7;
$color-cream-can: #F2C94C;
$color-oslo-gray: #828A8E;
$color-vista-blue: #8FD4C0;
$color-grey: #ffffff4f;
$color-outer-space: #383E43;
